/* 
цвето фона вторичный #F5F4FA
цвет шрифта основной - #757575
цвет выделения - #2196F3
вторичный цвет текста - #212121
цвет на футере - #FFFFFF и телефон и мыло rgb(255, 255, 255, 0.6)

кнопки background: #F5F4FA и background: #2196F3

основной шрифт font-family: Roboto; normal
шрифт лого font-family: Raleway 
*/

:root{
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --accent-color: #2196F3;
    --primary-bg-color: #E5E5E5;
}

/* body */

.page{
background-color: var(--primary-bg-color);
color: var(--primary-text-color);

font-family: Roboto, sans-serif;
letter-spacing: 0.03em;
}

.header-info{
    background-color: #FFFFFF;
}
.list{
    list-style: none;
}

/* Logo */
.logo-up,
.logo-up:focus{
    color: var(--secondary-text-color);

    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2px;
}

.accent{
    color: var(--accent-color);
}

/* hero */
.hero-button{
    background-color: var(--accent-color);
    color: #FFFFFF;
}

/* Site nav */
.site-link{
    color: var(--secondary-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.site-nav .site-link.current{
    color: var(--accent-color);
}

.site-nav .site-link:hover, 
.site-nav .site-link:focus{
    color: var(--accent-color);
}

/* Site contacts */
.site-contacts{
    color: var(--primary-text-color);
}

.site-contacts:hover{
    color: var(--accent-color);
}

/* advantages */
.advantages-title{
    color: var(--secondary-text-color);
}

/* about-us */
.secondary-title{
    color: var(--secondary-text-color);
}

/* Team */
.team{
    background-color: #F5F4FA;
}

.team-title-name{
    color: var(--secondary-text-color);
}


/* Футер */
.info{
    background-color: #2F303A;
}

.logo-down,
.logo-down:focus{
    color: #FFFFFF;

    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2px;
}
.info-address{
    color: #FFFFFF;
}

.info-link{
    color: rgba(255, 255, 255, 0.6);
}

/* portfolio */
.main-portfolio{
    color: var(--secondary-text-color);
}

.portfolio-description{
    color: var(--primary-text-color);
}

.navigation{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6px;
}
.navigation-button{
    background-color: #F5F4FA;
}
.navigation-button:focus,
.navigation-button:hover{
    background-color: var(--accent-color);
    color: #FFFFFF;
}