/* 
цвето фона вторичный #F5F4FA
цвет шрифта основной - #757575
цвет выделения - #2196F3
вторичный цвет текста - #212121
цвет на футере - #FFFFFF и телефон и мыло rgb(255, 255, 255, 0.6)

кнопки background: #F5F4FA и background: #2196F3

основной шрифт font-family: Roboto; normal
шрифт лого font-family: Raleway 
*/

:root{
    --primary-text-color: #757575;
    --secondary-text-color: #212121;

}

/* body */

.page{
background-color: #FFFFFF;
color: #757575;
}

.list{
    list-style: none;
}

/* Logo */
.logo-up,
.logo-up:focus{
    color: #212121;
}

.accent{
    color: #2196F3;
}


/* Site nav */
.site-link{
    color: #212121;
}

.site-nav .site-link:hover, 
.site-nav .site-link:focus{
    color: #2196F3;
}

/* Site contacts */
.site-contacts{
    color: #757575;
}

.site-contacts:hover{
    color: #2196F3;
}

/* advantages */
.advantages-title{
    color: #212121;
}

/* about-us */
.secondary-title{
    color: #212121;
}

/* Team */


.team-title-name{
    color: #212121;
}


/* Футер */
.info{
    background-color: #2F303A;
}

.logo-down,
.logo-down:focus{
    color: #FFFFFF;
}
.info-address{
    color: #FFFFFF;
}

.info-link{
    color: rgba(255, 255, 255, 0.6);
}

/* portfolio */
.main-portfolio{
    color: #212121;
}

.portfolio-description{
    color: #757575;
}